<h2 class="heading">日報</h2>

<div class="link">
  <%= link_to "日報登録", new_admin_daily_report_path, class: "link__green" %>
</div>

<table class="table">
  <thead class="table__heading">
    <tr class="table__row">
      <th class="table__item">現場名</th>
    </tr>
  </thead>
  <tbody>
    <% @constructions.each do |construction| %>
      <tr class="table__row">
        <td class="table__item"><%= construction.construction_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="paginate">
  <%= paginate @constructions %>
</div>