<div class="work_schedules">
  <div class="work_schedules__heading">
    <%= @work_schedule.date.to_s[0..3] + "年" + @work_schedule.date.to_s[4..5] + "月" %>:<%= @work_schedule.end_user.name %>
  </div>
  
  <table>
    <tr>
      <td></td>
    </tr>
  </table>
</div>
