<div class="home">
  <div>
    <%= link_to "社員", admin_end_users_path, class: "home__category" %>
    <%= link_to "業者", admin_companies_path, class: "home__category" %>
    <%= link_to "現場", admin_constructions_path, class: "home__category" %>
    <%= link_to "日報", constructions_index_admin_daily_reports_path, class: "home__category" %>
  </div>
</div>