.chart {
  width: 60%;
  border-collapse: collapse;
  margin: 30px auto;

  &__row {
    border-bottom: solid 2px #fff;
  }

  &__label {
    width: 15%;
    text-align: center;
    background-color: #52c2d0;
    color: #fff;
    padding: 10px 0;
  }
  
  &__item {
    width: 30%;
    text-align: center;
    background-color: #eee;
    padding: 10px 0;
  }
}