// Place all the styles related to the public/daily_reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.daily-report {
  width: 80%;
  height: 1200px;
  margin: 20px auto;
  border: solid 2px #000;

  &__image {
    width: 70%;
    margin: 20px auto 0;
  }

  &__heading {
    width: 70%;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    border-bottom: solid 3px #000;
  }

  &__contents1 {
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
  }

  &__contents2 {
    width: 70%;
    margin: 0 auto;
    table-layout: fixed;
  }

  &__left {
    text-align: left;

    &--item {
      width: 40%;
      padding-bottom: 10px;
    }

    &--form {
      width: 60%;
    }

  }

  &__flex {
    display: flex;
  }

  &__item-heading {
    width: 100px;
    background-color: #EEEEEE;
    border: solid 1px #CCCCCC	;
    padding: 5px;
  }

 &__item-side {
   &--small {
     width: 13.4%;
     border: solid 1px #CCCCCC;
     padding: 5px;
   }
   &--form1 {
     width: 62.2%;
     border: solid 1px #CCCCCC;
     padding: 5px;
     overflow-wrap : break-word;
   }
   &--form2 {
     width: 39.3%;
     border: solid 1px #CCCCCC;
     padding: 5px;
     overflow-wrap : break-word;
   }
 }

  &__item-form {
      width: 85%;
      border: solid 1px #CCCCCC;
      padding: 5px;

      &--format {
        border: none;
        width: 80%;
      }

      &--format2 {
        border: none;
        width: 95%;
        padding: 0 0 100px 5px;
      }

      &--format3 {
        border: none;
        width: 95%;
        padding: 0 0 80px 0;
      }
  }

  &__item-form2 {
      width: 42.5%;
      border: solid 1px #CCCCCC;
      padding: 5px;
  }

  &__item-area1 {
    width: 85%;
    padding: 0 0 100px 5px;
    border: solid 1px #CCCCCC;
  }

  &__item-area2 {
    width: 42.5%;
    padding: 0 0 80px 5px;
    border: solid 1px #CCCCCC;
  }

  &__check {
    width: 65%;
    margin: 50px auto 0;
  }
}

// スマホ画面
@media (max-width: 425px) {
  .daily-report {
    width: 95%;
    height: 1300px;
    font-size: small;
    
   &__contents1 {
     width: 100%;
     margin-left: 10px;
   }
   
   &__contents2 {
     width: 100%;
   }
   
   &__item-heading {
     width: 12%;
   }
   
   &__item-side--small {
     width: 20%;
   }
   
   &__item-side--form1 {
     width: 52.8%;
   }
   
   &__item-side--form2 {
     width: 20.9%;
   }
  }
}