.home {
  width: 90%;
  display: flex;
  margin: 0 auto;

  &__category {
    display: inline-block;
    width: 150px;
    height: 80px;
    margin: 50px 30px 10px;
    border: solid 2px #8FBC8F;
    border-radius: 3px;
    transition: .4s;
    text-align: center;
    color: #8FBC8F;
    text-decoration: none;
    line-height: 80px;
    font-size: large;
  }
  &__category:hover {
    background-color: #8FBC8F;
    color: #fff;
  }

  &__btn {
    margin: 50px auto;
    
    &--item {
      width: 40%;
      padding: 15px;
      border-radius: 10px;
      background-color: #eb6100;
      color: #fff;
      text-decoration: none;
      font-size: large;
    }
    &--item:hover {
      background: #f56500;
    }
  }
}