.table {
  width: 60%;
  margin: 10px 0 0 70px;
  border-collapse: collapse;

  &__label {
    text-align: left;
    width: 30%;
  }

  &__heading {
    font-weight: bolder;
    border-bottom: sol 2px #000;
    background-color: #777777;
    color: #fff;
    text-align: left;
  }

  &__row {
    border-bottom: solid 1px #000;
  }
  &__item {
    padding: 5px;
  }
}