<header class="header">
  <div class="header__logo"></div>
  <ul class="header__link">
    <!--end_userログイン後-->
    <% if end_user_signed_in? %>
      <li class="header__link--item">
        <%= link_to "ログアウト", destroy_end_user_session_path, method: :delete, class: "header__link--item" %>
      </li>

    <!--adminログイン後-->
    <% elsif admin_signed_in? %>
      <li clas="header__link--item">
        <%= link_to "ホーム", admin_root_path, class: "header__link--item" %>
      </li>
      <li class="header__link--item">
        <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header__link--item" %>
      </li>
    <% end %>
  </ul>
</header>